img{
    height: auto;
  width: 30vw;
}

#header-img{
 

  
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  width: 20vw;
  height: auto;
}

 iframe {
  width: 500;
  height: 300px;
  margin: 0 auto;
  background-color: #777; 
   display: block;
  border-style:none;
}


@media (max-width:500px){}

ol{
  list-style-type: none;
  text-align: center;
 
  
}

#shoe1{
display: inline-block;
text-align: center;

}

#shoe2{
display: inline-block;
text-align: center;
}
#shoe3{
display: inline-block;
text-align: center;
}



form{
  text-align: center;
}

span a{
  border: 3px solid black;
}